<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100i,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="main_content clearfix">
    <header id="header">
        <div class="wrap clearfix">

            <div class="logo"></div>


            <div class="header_menu_box">
                <div class="menu_top_box clearfix">
                    <div class="free_call_box">
                        <div class="free_title">бесплатный звонок</div>
                        <a class="free_num" href="">8 (800) 555 777 15</a>
                    </div>

                    <a href="#" class="order_call_box">
                        Заказать звонок
                    </a>
                </div>

                <div class="menu_bot_box clearfix">

                    <div class="menu_wrap_self">
                        <ul class="menu_wrap_self clearfix">
                            <li>
                                <a href="#">о компании</a>
                            </li>
                            <li>
                                <a href="#">проекты</a>
                            </li>
                            <li>
                                <a href="#">партнерство</a>
                            </li>
                            <li>
                                <a href="#">вопросы</a>
                            </li>
                            <li>
                                <a href="#">контакты</a>
                            </li>
                        </ul>
                    </div>

                    <div class="lang_box">
                        <span class="active_lang">Ru</span>
                        <ul class="lang_list">
                            <li><a href="#">Ru</a></li>
                            <li><a href="#">Ua</a></li>
                            <li><a href="#">Ro</a></li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </header>

    <div class="main_slider">


    </div>


    <div class="contact_box">
        <div class="wrap clearfix">

            <div class="contact_tabs">
                <div class="title">
                    Контакты
                </div>

            </div>


            <div class="contact_content clearfix">

                <div class="contact_block ">
                    <div class="contact_ttl">Почта и телефон</div>
                    <a href="#" class="cont_elem">8 (800) 555 777 15</a>
                    <a href="#" class="cont_elem">info@rublemania.ru</a>

                </div>
                <div class="contact_block soc_nets">
                    <div class="contact_ttl">Месенджеры</div>
                    <a href="#" class="cont_elem skype"><span>Skype</span></a>
                    <a href="#" class="cont_elem telegram"><span>Telegram</span></a>
                    <a href="#" class="cont_elem viber"><span>Viber</span></a>
                    <a href="#" class="cont_elem instagram"><span>Instagram</span></a>
                    <a href="#" class="cont_elem whatsapp"><span>WhatsApp</span></a>

                </div>
                <div class="contact_block">
                    <div class="contact_ttl">Адрес</div>
                    <a href="#" class="cont_elem">Россия, г. Москва</a>
                    <a href="#" class="cont_elem">Проспект Мира , 22</a>

                </div>
                <div class="contact_block soc_nets">
                    <div class="contact_ttl">Соцсети</div>
                    <a href="#" class="cont_elem facebook"><span>Facebook</span></a>
                    <a href="#" class="cont_elem vkontakte"><span>Вконтакте</span></a>

                </div>
            </div>

        </div>


    </div>





    <footer id="footer">
        <div class="wrap">


            <div class="footer_header">Структрура сайта</div>


            <ul class="footer_menu">
                <li class="head">О компании</li>
                <li><a>Как всё начиналось?</a></li>
                <li><a>Принципы</a></li>
                <li><a>Позиция</a></li>
                <li><a>Приоритеты</a></li>
            </ul>


            <ul class="footer_menu">
                <li class="head">Проекты</li>
            </ul>

            <ul class="footer_menu">
                <li class="head">Партнерство</li>
                <li><a>Рубольстор</a></li>
                <li><a>Кризисное управление</a></li>
            </ul>

            <ul class="footer_menu">
                <li class="head">Вопросы</li>
                <li><a>Общие</a></li>
                <li><a>Финансовые</a></li>
                <li><a>Юридические</a></li>
            </ul>

            <ul class="footer_menu">
                <li class="head">Контакты</li>
                <li><a>Телефон</a></li>
                <li><a>E-mail</a></li>
                <li><a>Месенджеры</a></li>
                <li><a>Соцсети</a></li>
            </ul>
        </div>
    </footer>
</div>

<script src="main.js"></script>
</body>
</html>