<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100i,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="main_content clearfix">
    <header id="header">
        <div class="wrap clearfix">

            <div class="logo"></div>


            <div class="header_menu_box">
                <div class="menu_top_box clearfix">
                    <div class="free_call_box">
                        <div class="free_title">бесплатный звонок</div>
                        <a class="free_num" href="">8 (800) 555 777 15</a>
                    </div>

                    <a href="#" class="order_call_box">
                        Заказать звонок
                    </a>
                </div>

                <div class="menu_bot_box clearfix">

                    <div class="menu_wrap_self">
                        <ul class="menu_wrap_self clearfix">
                            <li>
                                <a href="#">о компании</a>
                            </li>
                            <li>
                                <a href="#">проекты</a>
                            </li>
                            <li>
                                <a href="#">партнерство</a>
                            </li>
                            <li>
                                <a href="#">вопросы</a>
                            </li>
                            <li>
                                <a href="#">контакты</a>
                            </li>
                        </ul>
                    </div>

                    <div class="lang_box">
                        <span class="active_lang">Ru</span>
                        <ul class="lang_list">
                            <li><a href="#">Ru</a></li>
                            <li><a href="#">Ua</a></li>
                            <li><a href="#">Ro</a></li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </header>

    <div class="main_slider">


    </div>


    <div class="steps_wrap_box clearfix ">
        <div class="wrap">
            <ul class="steps_name_box">
                <li  class="st_name step_one active">Выбранный план</li>
                <li class="st_name step_two">Паспорт проекта</li>
                <li class="st_name step_three">Чек Лист</li>

            </ul>


            <ul class="step_btn_wrap clearfix">

                <li data-step="step_one" class="step_link active">
                    <div class="step_title">Шаг</div>
                    <div class="span_circle">1</div>
                </li>
                <li  data-step="step_two" class="step_link">
                    <div class="step_title">Шаг</div>
                    <div class="span_circle">2</div>
                </li>
                <li  data-step="step_three" class="step_link">
                    <div class="step_title">Шаг</div>
                    <div class="span_circle">3</div>
                </li>

            </ul>
        </div>
    </div>


    <div class="tab_window ">
        <div class="wrap main_tap_wrap">



            <div class="tab_item active percent_select_plan step_one clearfix" id="percent_select_plan" >
                <h2 class="h_two block_title">Описание плана</h2>

                <div class="tab_txt">
                    <p> С учетом сложившейся международной обстановки, высокое качество позиционных исследований требует
                        анализа глубокомысленных рассуждений. В своем стремлении улучшить пользовательский опыт мы
                        упускаем, что ключевые особенности структуры проекта превращены в посмешище, хотя само их
                        существование приносит несомненную пользу обществу. Некоторые особенности внутренней политики
                        разоблачены. Предварительные выводы неутешительны: консультация с широким активом требует
                        анализа как самодостаточных, так и внешне зависимых концептуальных решений. Некоторые
                        особенности внутренней политики могут быть подвергнуты целой серии независимых исследований.
                        Базовый вектор развития прекрасно подходит для реализации форм воздействия.</p>

                    <p>Предварительные выводы неутешительны: высокое качество позиционных исследований играет важную
                        роль в формировании вывода текущих активов. В своем стремлении улучшить пользовательский опыт мы
                        упускаем, что сделанные на базе интернет-аналитики выводы неоднозначны и будут своевременно
                        верифицированы.</p>

                    <p>В рамках спецификации современных стандартов, реплицированные с зарубежных источников,
                        современные исследования могут быть превращены в посмешище, хотя само их существование приносит
                        несомненную пользу обществу. Элементы политического процесса являются только методом
                        политического участия и рассмотрены исключительно в разрезе маркетинговых и финансовых
                        предпосылок.</p>

                    <p> Действия представителей оппозиции являются только методом политического участия и объявлены
                        нарушающими общечеловеческие нормы этики и морали. Для современного мира постоянный
                        количественный рост и сфера нашей активности, в своем классическом представлении, допускает
                        внедрение форм воздействия. Задача организации, в особенности же высококачественный прототип
                        будущего проекта обеспечивает широкому кругу (специалистов) участие в формировании
                        своевременного выполнения сверхзадачи.</p>

                    <p>В частности, современная методология разработки влечет за собой процесс внедрения и модернизации
                        прогресса профессионального сообщества. Семантический разбор внешних противодействий
                        предоставляет широкие возможности для системы обучения кадров, соответствующей насущным
                        потребностям. Идейные соображения высшего порядка, а также сплоченность команды профессионалов
                        обеспечивает широкому кругу (специалистов) участие в формировании прогресса профессионального
                        сообщества. Высокий уровень вовлечения представителей целевой аудитории является четким
                        доказательством простого факта: современная методология разработки однозначно фиксирует
                        необходимость стандартных подходов.</p>

                    <p>Как принято считать, базовые сценарии поведения пользователей, вне зависимости от их уровня,
                        должны быть представлены в исключительно положительном свете. В своем стремлении улучшить
                        пользовательский опыт мы упускаем, что предприниматели в сети интернет освещают чрезвычайно
                        интересные особенности картины в целом, однако конкретные выводы, разумеется, объявлены
                        нарушающими общечеловеческие нормы этики и морали.</p>


                </div>

            </div>

            <div class="tab_item passport_plan step_two clearfix" id="passport_plan">

                <div class="passport_text">

                    <p>С учетом сложившейся международной обстановки, высокое качество позиционных исследований требует
                        анализа глубокомысленных рассуждений. В своем стремлении улучшить пользовательский опыт мы
                        упускаем, что ключевые особенности структуры проекта превращены в посмешище, хотя само их
                        существование приносит несомненную пользу обществу. Некоторые особенности внутренней политики
                        разоблачены. Предварительные выводы неутешительны: консультация с широким активом требует
                        анализа как самодостаточных, так и внешне зависимых концептуальных решений. Некоторые
                        особенности внутренней политики могут быть подвергнуты целой серии независимых исследований.
                        Базовый вектор развития прекрасно подходит для реализации форм воздействия.</p>
                    <p>Предварительные выводы неутешительны: высокое качество позиционных исследований играет важную
                        роль в формировании вывода текущих активов. В своем стремлении улучшить пользовательский опыт мы
                        упускаем, что сделанные на базе интернет-аналитики выводы неоднозначны и будут своевременно
                        верифицированы.</p>

                </div>

                <div class="passport_title">Калькулятор прибыли</div>


                <div class="passport_cal_wrap">


                    <div class="pass_inpt_wrap">
                        <div class="pass_inpt_title">Процент по вкладу</div>

                        <div class="pass_input_self"><input type="text"></div>
                    </div>

                    <div class="pass_inpt_wrap">
                        <div class="pass_inpt_title">Ваше вложение</div>

                        <div class="pass_input_self"><input type="text"></div>
                    </div>

                    <div class="pass_inpt_wrap">
                        <div class="pass_inpt_title">Ваш доход в год</div>

                        <div class="pass_input_self"><input type="text"></div>
                    </div>


                    <div class="pass_btn">Посчитать</div>


                </div>
                <div class="pass_sub_title">Ваше рещение</div>
                <div class="passport_cal_wrap decision">

                    <div class="pass_inpt_wrap">
                        <div class="pass_inpt_title">Ваша сумма Вложения</div>

                        <div class="pass_input_self"><input type="text"></div>
                    </div>
                    <div class="pass_btn">Посчитать</div>

                </div>
            </div>

            <div class="tab_item percentage_plan step_three clearfix" id="percentage_plan">

                <div class="image_bg"></div>


                <div class="perent_text_wrap">

                    <h2 class="h_two block_title">Процентный план</h2>

                    <div class="tab_txt">
                        <p> С учетом сложившейся международной обстановки, высокое качество позиционных исследований
                            требует
                            анализа глубокомысленных рассуждений. В своем стремлении улучшить пользовательский опыт мы
                            упускаем,
                            что ключевые особенности структуры проекта превращены в посмешище, хотя само их
                            существование
                            приносит несомненную пользу обществу. Некоторые особенности внутренней политики разоблачены.
                            Предварительные выводы неутешительны: консультация с широким активом требует анализа как
                            самодостаточных, так и внешне зависимых концептуальных решений. Некоторые особенности
                            внутренней
                            политики могут быть подвергнуты целой серии независимых исследований. Базовый вектор
                            развития
                            прекрасно подходит для реализации форм воздействия.</p>

                        <p>Предварительные выводы неутешительны: высокое качество позиционных исследований играет важную
                            роль в
                            формировании вывода текущих активов. В своем стремлении улучшить пользовательский опыт мы
                            упускаем,
                            что сделанные на базе интернет-аналитики выводы неоднозначны и будут своевременно
                            верифицированы.</p>

                    </div>

                    <div class="percent_invest_block clearfix">
                        <div class="invest_caption">Ваша сумма вложения</div>
                        <div class="invest_data">175 000</div>
                    </div>

                    <div class="percent_invest_block clearfix">
                        <div class="invest_caption">ДОХОДНОСТЬ В ГОД</div>
                        <div class="invest_data">28 00</div>
                    </div>

                    <div class="percent_agree">
                        <div class="agree_input"></div>
                        <div class="agree_self">Я согласен</div>
                    </div>

                </div>
                <div class="clearfix"></div>
                <div class="percent_payment clearfix">
                    <div class="pay_title">Выберите способ оплаты</div>

                    <div class="percent_pay_wrap">
                        <div class="image_pay master"></div>
                        <div class="image_pay yandex"></div>
                        <div class="image_pay paypal"></div>

                    </div>
                </div>
            </div>


        </div>

        <div class="project_btn_wrap clearfix">

            <div class="project_btn project">Сменить проект</div>
            <div class="project_btn plan">Сменить план</div>
            <div class="project_btn back"> Назад</div>
            <div class="project_btn next">Продолжить>></div>
        </div>
    </div>


    <footer id="footer">
        <div class="wrap">


            <div class="footer_header">Структрура сайта</div>


            <ul class="footer_menu">
                <li class="head">О компании</li>
                <li><a>Как всё начиналось?</a></li>
                <li><a>Принципы</a></li>
                <li><a>Позиция</a></li>
                <li><a>Приоритеты</a></li>
            </ul>


            <ul class="footer_menu">
                <li class="head">Проекты</li>
            </ul>

            <ul class="footer_menu">
                <li class="head">Партнерство</li>
                <li><a>Рубольстор</a></li>
                <li><a>Кризисное управление</a></li>
            </ul>

            <ul class="footer_menu">
                <li class="head">Вопросы</li>
                <li><a>Общие</a></li>
                <li><a>Финансовые</a></li>
                <li><a>Юридические</a></li>
            </ul>

            <ul class="footer_menu">
                <li class="head">Контакты</li>
                <li><a>Телефон</a></li>
                <li><a>E-mail</a></li>
                <li><a>Месенджеры</a></li>
                <li><a>Соцсети</a></li>
            </ul>
        </div>
    </footer>
</div>

<script src="main.js"></script>
</body>
</html>