<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100i,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="main_content  clearfix">
    <header id="header">
        <div class="wrap clearfix">

            <div class="logo"></div>


            <div class="header_menu_box">
                <div class="menu_top_box clearfix">
                    <div class="free_call_box">
                        <div class="free_title">бесплатный звонок</div>
                        <a class="free_num" href="">8 (800) 555 777 15</a>
                    </div>

                    <a href="#" class="order_call_box">
                        Заказать звонок
                    </a>
                </div>

                <div class="menu_bot_box clearfix">

                    <div class="menu_wrap_self">
                        <ul class="menu_wrap_self clearfix">
                            <li>
                                <a href="#">о компании</a>
                            </li>
                            <li>
                                <a href="#">проекты</a>
                            </li>
                            <li>
                                <a href="#">партнерство</a>
                            </li>
                            <li>
                                <a href="#">вопросы</a>
                            </li>
                            <li>
                                <a href="#">контакты</a>
                            </li>
                        </ul>
                    </div>

                    <div class="lang_box">
                        <span class="active_lang">Ru</span>
                        <ul class="lang_list">
                            <li><a href="#">Ru</a></li>
                            <li><a href="#">Ua</a></li>
                            <li><a href="#">Ro</a></li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </header>

    <div class="main_slider">


    </div>

    <div class="project_container">
        <div class="wrap">

            <div class="filter_box clearfix">

                <div class="project_fltr_wrap">
                    <div class="title">Проекты</div>

                    <div class="project_filter">

                        <div class="project_active">
                            <div class="pro_inpt"></div>
                            <div class="pro_title">Активные проекты</div>
                        </div>
                        <div class="project_expect">
                            <div class="pro_inpt"></div>
                            <div class="pro_title">Ожидаемые проекты</div>
                        </div>

                    </div>

                    <div class="alpha_wrap">
                        <div class="alpha_title">Поиск по алфавиту</div>

                        <div class="alpha_letters">
                            <a class="letter">а</a>
                            <a class="letter">б</a>
                            <a class="letter">в</a>
                            <a class="letter">г</a>
                            <a class="letter">д</a>
                            <a class="letter">е</a>
                            <a class="letter">ё</a>
                            <a class="letter">ж</a>
                            <a class="letter">з</a>
                            <a class="letter">и</a>
                            <a class="letter">й</a>
                            <a class="letter">к</a>
                            <a class="letter">л</a>
                            <a class="letter active">м</a>
                            <a class="letter">н</a>
                            <a class="letter">о</a>
                            <a class="letter">п</a>
                            <a class="letter">р</a>
                            <a class="letter">с</a>
                            <a class="letter">т</a>
                            <a class="letter">у</a>
                            <a class="letter">ф</a>
                            <a class="letter">х</a>
                            <a class="letter">ц</a>
                            <a class="letter">ч</a>
                            <a class="letter">ш</a>
                            <a class="letter">щ</a>
                            <a class="letter">ъ</a>
                            <a class="letter">ы</a>
                            <a class="letter">ь</a>
                            <a class="letter">э</a>
                            <a class="letter">ю</a>
                            <a class="letter">я</a>

                        </div>
                    </div>
                </div>

                <div class="project_categ clearfix">

                    <div class="proj_item">
                        <div class="inner_wrap"><img src="images/mash1.png" alt="">
                            <a class="proj_title">Мудрый грип</a>
                        </div>
                    </div>
                    <div class="proj_item">
                        <div class="inner_wrap"><img src="images/mash2.png" alt="">
                            <a class="proj_title">Наглый помидор</a>
                        </div>
                    </div>
                    <div class="proj_item">
                        <div class="inner_wrap"><img src="images/mash3.png" alt="">
                            <a class="proj_title">Индейка злодейка</a>
                        </div>
                    </div>
                    <div class="proj_item">
                        <div class="inner_wrap"><img src="images/mash4.png" alt="">
                            <a class="proj_title">Сама себе зелень</a>
                        </div>
                    </div>
                    <div class="proj_item">
                        <div class="inner_wrap"><img src="images/mash5.png" alt="">
                            <a class="proj_title">Рулет мясоед</a>
                        </div>
                    </div>
                    <div class="proj_item carp">
                        <div class="inner_wrap"><img src="images/mash6.png" alt="">
                            <a class="proj_title">Хитрый карп</a>
                        </div>
                    </div>
                    <div class="proj_item">
                        <div class="inner_wrap"><img src="images/mash7.png" alt="">
                            <a class="proj_title">Пипец перец</a>
                        </div>
                    </div>
                    <div class="proj_item">
                        <div class="inner_wrap"><img src="images/mash8.png" alt="">
                            <a class="proj_title">Утка не на шутку</a>
                        </div>
                    </div>
                    <div class="proj_item">
                        <div class="inner_wrap"><img src="images/mash9.png" alt="">
                            <a class="proj_title">Гусь ещё тот</a>
                        </div>
                    </div>


                </div>
            </div>


        </div>


    </div>

    <footer id="footer">
        <div class="wrap">


            <div class="footer_header">Структрура сайта</div>


            <ul class="footer_menu">
                <li class="head">О компании</li>
                <li><a>Как всё начиналось?</a></li>
                <li><a>Принципы</a></li>
                <li><a>Позиция</a></li>
                <li><a>Приоритеты</a></li>
            </ul>


            <ul class="footer_menu">
                <li class="head">Проекты</li>
            </ul>

            <ul class="footer_menu">
                <li class="head">Партнерство</li>
                <li><a>Рубольстор</a></li>
                <li><a>Кризисное управление</a></li>
            </ul>

            <ul class="footer_menu">
                <li class="head">Вопросы</li>
                <li><a>Общие</a></li>
                <li><a>Финансовые</a></li>
                <li><a>Юридические</a></li>
            </ul>

            <ul class="footer_menu">
                <li class="head">Контакты</li>
                <li><a>Телефон</a></li>
                <li><a>E-mail</a></li>
                <li><a>Месенджеры</a></li>
                <li><a>Соцсети</a></li>
            </ul>
        </div>
    </footer>
</div>

<script src="main.js"></script>
</body>
</html>