<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100i,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="main_content clearfix">
    <header id="header">
        <div class="wrap clearfix">

            <div class="logo"></div>


            <div class="header_menu_box">
                <div class="menu_top_box clearfix">
                    <div class="free_call_box">
                        <div class="free_title">бесплатный звонок</div>
                        <a class="free_num" href="">8 (800) 555 777 15</a>
                    </div>

                    <a href="#" class="order_call_box">
                        Заказать звонок
                    </a>
                </div>

                <div class="menu_bot_box clearfix">

                    <div class="menu_wrap_self">
                        <ul class="menu_wrap_self clearfix">
                            <li>
                                <a href="#">о компании</a>
                            </li>
                            <li>
                                <a href="#">проекты</a>
                            </li>
                            <li>
                                <a href="#">партнерство</a>
                            </li>
                            <li>
                                <a href="#">вопросы</a>
                            </li>
                            <li>
                                <a href="#">контакты</a>
                            </li>
                        </ul>
                    </div>

                    <div class="lang_box">
                        <span class="active_lang">Ru</span>
                        <ul class="lang_list">
                            <li><a href="#">Ru</a></li>
                            <li><a href="#">Ua</a></li>
                            <li><a href="#">Ro</a></li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </header>

    <div class="main_slider">


    </div>


    <div class="question_box ">
        <div class="wrap clearfix">

            <div class="quest_tabs">
                <div class="title">
                    Проекты
                </div>
                <ul class="quest_tabs_self">
                    <li class="active">Общие</li>
                    <li class="">Финансовые</li>
                    <li class="">Юридические</li>
                </ul>
            </div>


            <div class="quest_content">
                <p class="quest_title">1 ВОПРОС</p>
                <p class="quest_self_quest">
                    С учетом сложившейся международной обстановки, высокое качество позиционных исследований требует анализа глубокомысленных рассуждений. В своем стремлении улучшить пользовательский опыт мы упускаем, что ключевые особенности структуры проекта превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Некоторые особенности внутренней политики разоблачены. Предварительные выводы неутешительны: консультация с широким активом требует анализа как самодостаточных, так и внешне зависимых концептуальных решений. Некоторые особенности внутренней политики могут быть подвергнуты целой серии независимых исследований. Базовый вектор развития прекрасно подходит для реализации форм воздействия.
                </p>

                <p class="quest_self_answ">
                    Предварительные выводы неутешительны: высокое качество позиционных исследований играет важную роль в формировании вывода текущих активов. В своем стремлении улучшить пользовательский опыт мы упускаем, что сделанные на базе интернет-аналитики выводы неоднозначны и будут своевременно верифицированы.
                </p>
                <p class="quest_title">2 ВОПРОС</p>
                <p class="quest_self_quest">
                    С учетом сложившейся международной обстановки, высокое качество позиционных исследований требует анализа глубокомысленных рассуждений. В своем стремлении улучшить пользовательский опыт мы упускаем, что ключевые особенности структуры проекта превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Некоторые особенности внутренней политики разоблачены. Предварительные выводы неутешительны: консультация с широким активом требует анализа как самодостаточных, так и внешне зависимых концептуальных решений. Некоторые особенности внутренней политики могут быть подвергнуты целой серии независимых исследований. Базовый вектор развития прекрасно подходит для реализации форм воздействия.
                </p>

                <p class="quest_self_answ">
                    Предварительные выводы неутешительны: высокое качество позиционных исследований играет важную роль в формировании вывода текущих активов. В своем стремлении улучшить пользовательский опыт мы упускаем, что сделанные на базе интернет-аналитики выводы неоднозначны и будут своевременно верифицированы.
                </p>
                <p class="quest_title">3 ВОПРОС</p>
                <p class="quest_self_quest">
                    С учетом сложившейся международной обстановки, высокое качество позиционных исследований требует анализа глубокомысленных рассуждений. В своем стремлении улучшить пользовательский опыт мы упускаем, что ключевые особенности структуры проекта превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Некоторые особенности внутренней политики разоблачены. Предварительные выводы неутешительны: консультация с широким активом требует анализа как самодостаточных, так и внешне зависимых концептуальных решений. Некоторые особенности внутренней политики могут быть подвергнуты целой серии независимых исследований. Базовый вектор развития прекрасно подходит для реализации форм воздействия.
                </p>

                <p class="quest_self_answ">
                    Предварительные выводы неутешительны: высокое качество позиционных исследований играет важную роль в формировании вывода текущих активов. В своем стремлении улучшить пользовательский опыт мы упускаем, что сделанные на базе интернет-аналитики выводы неоднозначны и будут своевременно верифицированы.
                </p>


            </div>

        </div>


    </div>

<div class="quest_form ">
<div class="wrap clearfix">
    <form action="">
    <textarea class="quest_form_txt" name="" id="" cols="30" rows="10"></textarea>

        <button class="quest_btn">Задать вопрос</button>
    </form>
</div>


</div>




    <footer id="footer">
        <div class="wrap">


            <div class="footer_header">Структрура сайта</div>


            <ul class="footer_menu">
                <li class="head">О компании</li>
                <li><a>Как всё начиналось?</a></li>
                <li><a>Принципы</a></li>
                <li><a>Позиция</a></li>
                <li><a>Приоритеты</a></li>
            </ul>


            <ul class="footer_menu">
                <li class="head">Проекты</li>
            </ul>

            <ul class="footer_menu">
                <li class="head">Партнерство</li>
                <li><a>Рубольстор</a></li>
                <li><a>Кризисное управление</a></li>
            </ul>

            <ul class="footer_menu">
                <li class="head">Вопросы</li>
                <li><a>Общие</a></li>
                <li><a>Финансовые</a></li>
                <li><a>Юридические</a></li>
            </ul>

            <ul class="footer_menu">
                <li class="head">Контакты</li>
                <li><a>Телефон</a></li>
                <li><a>E-mail</a></li>
                <li><a>Месенджеры</a></li>
                <li><a>Соцсети</a></li>
            </ul>
        </div>
    </footer>
</div>

<script src="main.js"></script>
</body>
</html>