<root>
    <params name="jeventsevents" label="Filter">
        <param type="group" label="Source">
            <param name="sourcecategories" label="Categories" type="rseventsprocategories" default="0"
                   multiple="1" size="10"/>
            <param name="sourcegroups" label="Groups" type="rseventsprogroups" default="0"
                   multiple="1" size="10"/>
            <param name="sourcelocations" label="Locations" type="rseventsprolocations" default="0"
                   multiple="1" size="10"/>
            <param name="sourcetags" label="Tags" type="rseventsprotags" default="0"
                   multiple="1" size="10"/>
        </param>
        <param type="group" label="Limit" class="n2-expert">
            <param name="started" label="Started" type="filter" default="0"/>
            <param name="ended" label="Ended" type="filter" default="-1"/>
            <param name="featured" label="Featured" type="filter" default="0"/>
            <param name="allday" label="All day event" type="filter" default="0"/>
            <param name="recurring" label="Recurring event" type="filter" default="0"/>
        </param>
    </params>
    <params name="order" label="Order by">
        <param name="rseventsproorder" type="mixed" label="Order" default="start|*|asc">
            <param type="list" label="Field" translateable="1">
                <option value="">None</option>
                <option value="start">Start date</option>
                <option value="end">End date</option>
                <option value="created">Creation date</option>
                <option value="name">Title</option>
                <option value="hits">Hits</option>
                <option value="id">ID</option>
            </param>
            <param type="radio" label="order">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </param>
        </param>
    </params>
</root>