<root>
    <params name="jomsocial" label="Filter">
        <param type="group" label="Source">
            <param name="jomsocialevents" label="Events" type="jomsocialevents" default="0" multiple="1"
                   size="10"/>
            <param name="jomsocialgroups" label="Groups" type="jomsocialgroups" default="0" multiple="1"
                   size="10"/>
        </param>
        <param type="group" label="Limit" class="n2-expert">
            <param name="videotype" label="Video type" type="jomsocialvideotype" default="youtube"/>
            <param name="userid" label="User IDs" type="text" default="*"/>
            <param name="featured" label="Featured" type="filter" default="0"/>
        </param>
    </params>
    <params name="order" label="Order by">
        <param name="jomsocialorder" type="mixed" label="Order" default="created|*|desc">
            <param type="list" label="Field" translateable="1">
                <option value="">None</option>
                <option value="title">Title</option>
                <option value="created">Creation time</option>
                <option value="hits">Hits</option>
                <option value="id">ID</option>
            </param>
            <param type="radio" label="order">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </param>
        </param>
    </params>
</root>